.item-car {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    cursor: pointer;
    color: rgba(252, 252, 252, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.flex-col {
    display: flex;
    justify-content: space-between;
}
.item-car:hover {
    border-bottom: 1px solid rgba(177, 175, 175, 0.342);
    color: rgba(252, 252, 252, 0.8);
}

.item-car__col {
    width: 200px;
    display: flex;
    align-items: center;
}

.item-car:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(252, 252, 252, 0.8);

}