.table-row {
    min-height: 100vh;
    padding:1rem;
}

.table {
    background: linear-gradient(0.08deg, #2E3138 0.35%, #3D4148 192.77%);
    box-shadow: 3.88889px 3.88889px 16.6667px #1F2427;
    border-radius: 24px 24px 30px 30px;
   
}